@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");
* {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Mukta", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  color: #2d3436;
}
body {
  padding: 10px 200px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(20px);
  opacity: 20%;
}

.back-to-top svg {
  width: 50px;
  height: 50px;
}

.back-to-top.active {
  opacity: 1;
  transform: translateY(0);
}

.header__container {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
}
div.header__description {
  padding-left: 100px;
}
.header__image img {
  width: 300px;
  height: 320px;
  border-radius: 50%;
}
.nav__button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}
.nav__button:hover {
  background-color: darkgrey;
  color: rgba(22, 48, 161, 0.708);
}
.description__container {
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}
.section__title {
  border-bottom: 2px solid rgb(11, 212, 231);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__description {
  max-height: 0;
  overflow: hidden;
  transition: max-heigh 4.4s ease-in-out;
  width: 100vw;
}
.section.active .section__description {
  max-height: max-content;
  animation: fade 0.5s ease-in-out;
  width: max-content;
}
.section.active svg {
  transform: rotate(180deg);
}
svg {
  transition: transform 0.5s ease-in;
}

@media screen {
}

@media screen and (max-width: 1357px) {
  body {
    padding: 10px 200px;
  }
  .header__container {
    display: block;
    text-align: center;
    margin: 0;
    width: auto;
  }
  div.header__image {
    display: inline;
    margin: 0 auto;
  }
  div.header__description {
    margin: 10px auto;
    padding: 0;
  }
}

@media screen and (max-width: 1096px) {
  body {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 732px) {
  h4 {
    font-size: small;
  }
}

@media screen and (max-width: 622px) {
  .button__grid {
    display: inline;
    margin: 0 auto;
  }
  .button {
    display: grid;
    grid-template-columns: repeat(2);
    row-gap: 0.5rem;
  }
  h1 {
    font-size: medium;
  }
  h4 {
    font-size: x-small;
  }
}

@media screen and (max-width: 413px) {
  body {
    padding: auto;
  }

  h1,
  h3 {
    font-size: large;
  }
  div.header__image {
    width: 70vw;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2.5rem;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.navigateList {
  display: flex;
}
.navigateList a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
}
.navigateList a:hover {
  color: var(--hover-color);
  text-shadow: var(--font-neon-text-shadow);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

@media screen and (min-width: 601px) {
  .toggle-content .time {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .toggle-content .header {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
  .skill-img {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .home {
    grid-template-columns: 1fr;
    padding: 50px 5%;
  }
  .navigateList {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
  }

  .navigateList.open {
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menu-icon {
    display: block;
  }
}

.resume-item {
  display: flex;
  align-items: flex-start;
}

.company-logo img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.job-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.job-details {
  flex: 1;
}

.job-date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.job-description {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #333;
}

@media screen and (max-width: 768px) {
  .job-title {
    font-size: 1rem;
  }

  .job-date {
    font-size: 0.8rem;
  }

  .job-description {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
